In [1]:
import pandas as pd
import numpy as np
import datetime
import random

In [2]:
# создаем таблицу юзеров с id и возрастом (от 18 до 80 лет), всего 300 юзеров
Users = pd.DataFrame ({
    'userId': list(range(1, 301)),
    'age': np.random.randint(18, 80, 300)
    })
Users.head()

   userId  age
0       1   73
1       2   43
2       3   70
3       4   65
4       5   26

In [3]:
# выгружаем в csv
Users.to_csv('Users.csv', index=False)

In [4]:
# создаем список рандомных дат от 01.01.2022 до 31.12.2022, всего 1000 дат
lst = []
start_date = datetime.date(2022, 1, 1)
end_date = datetime.date(2022, 12, 31)
for i in range(1000):
    random_date = start_date + (end_date - start_date) * random.random()
    lst.append(random_date)

In [5]:
# создаем таблицу на 1000 записей с id заказа, юзер id, id товара (200 разных id), дата заказа
Purchases = pd.DataFrame ({
    'purchaseId': list(range(1, 1001)),
    'userId': np.random.randint(1, 301, 1000),
    'itemId': np.random.randint(1, 201, 1000),
    'date': lst
    })
Purchases.head()

   purchaseId  userId  itemId        date
0           1     252     140  2022-06-14
1           2     238     144  2022-08-02
2           3     143      78  2022-03-26
3           4      39     100  2022-02-26
4           5     215       2  2022-05-15

In [6]:
# выгружаем в csv
Purchases.to_csv('Purchases.csv', index=False)

In [7]:
# создаем список цен от 10 до 500 руб, всего 200 цен
lst2 = []
for i in range(200):
    price = round(random.uniform(10.00, 500.00), 2)
    lst2.append(price)

In [8]:
# создаем таблицу с товарами на 200 записей
Items = pd.DataFrame ({
    'itemId': np.random.randint(1, 201, 200),
    'price': lst2
    })
Items.head()

   itemId   price
0     132  409.47
1      20  280.12
2      43  271.79
3     146  106.39
4      57   80.04

In [9]:
# выгружаем в csv
Items.to_csv('Items.csv', index=False)